<app-banner> </app-banner>
<div id="about">
  <div class="img-block">
    <img src="../../../../assets/images/about.jpg" />
  </div>
  <div>
    <p class="subtitle">À propos de nous</p>
    <h2>Découvrez le meilleur de votre ville</h2>
    <p class="text">
      En quelques clics sur l'écran et avec la norme de qualité M2Eat, nous vous
      connectons avec les meilleurs restaurants de votre ville ! 😎
    </p>
    <a href="#" class="btn">Voir maintenant !</a>
  </div>
</div>
<div id="services">
  <div class="title-block">
    <p class="subtitle">À propos de nous</p>
    <h2>Découvrez le meilleur de votre ville</h2>
  </div>
  <div class="service-block">
    <div class="service">
      <app-icon-restaurant></app-icon-restaurant>
      <h3>Des plats de qualité</h3>
      <p>Les meilleurs restaurants de votre ville sont partenaires M2Eat !</p>
    </div>
    <div class="service">
      <app-icon-order></app-icon-order>
      <h3>Réservation rapide</h3>
      <p>
        Notre site vous permet de réserver rapidement une table dans vos
        restaurants préférés !
      </p>
    </div>
    <div class="service">
      <app-icon-menu></app-icon-menu>
      <h3>Des menus très varié</h3>
      <p>
        Nos restaurants partenaires vous proposent des menus équilibrés et
        variés !
      </p>
    </div>
  </div>
</div>
<div id="download">
  <div class="img-block">
    <img src="../../../../assets/images/movil-app.png" />
  </div>
  <div>
    <p class="subtitle">Commencez dès maintenant</p>
    <h2>Découvrez le meilleur de votre ville</h2>
    <p class="text">
      Cliquez ci-dessous, installez l'application et passez vos réservations de manière simple et intuitive ! 🤠
    </p>
    <a href="#" class="btn"><img src="../../../../assets/images/play_store.png" alt=""></a>
    <a href="#" class="btn"><img src="../../../../assets/images/app_store.png" alt=""></a>
  </div>
</div>
<div id="contact">
  <div>
    <p class="subtitle">Des questions?</p>
    <h2>Contactez-nous</h2>
    <p class="text">
      Cliquez ci-dessous, installez l'application et passez vos réservations de manière simple et intuitive ! 🤠
    </p>
  </div>
  <div>
    <a href="#" class="btn">Entrer en contact</a>
  </div>
</div>

