.card {
  a {
    text-decoration: none;
    color: var(--app-text--light);
  }
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s all ease-in-out;
  background-color: var(--app-light);
  border-radius: 15px;
  margin: 2rem;
  outline: 2px transparent;
  img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%;
    height: 150px;
  }
  .container {
    padding: 2px 16px;
    h4{
      color: var(--app-clickable);
    }
  }
  &:hover {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    outline: 2px var(--app-clickable) solid;
  }
}
