:root {
  --app-dark: #111f24;
  --app-light: #f2f2f2;
  --app-clickable: #3fc060;
  --app-clickable--secondary: #048654;
  --app-header--light: #111010;
  --app-header--dark: #ffff;
  --app-text--light: #f1ebeb;
  --app-text--dark: #838385;
}
