#banner {
  background: var(--app-light);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
  h1 {
    color: var(--app-clickable);
  }
  p {
    font-size: 2em;
    font-weight: bold;
    color: var(--app-header--light);
    margin-bottom: 3rem;
  }
  .btn {
    background: var(--app-clickable);
    color: var(--app-text--dark);
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
    &:hover {
      background: var(--app-clickable--secondary);
    }
  }
  .img-block {
    display: flex;
    justify-content: center;
    img {
      width: 60%;
      height: auto;
    }
  }
}
