
.task {
  padding: 2px;
  margin: 10px;
  border-left-style: solid;
  position: relative;
  font-size: 11px;
  text-align: center;

  &--primary {
    background: var(--app-clickable);
    border: 0;
    border-radius: 4px;
    grid-column: 3 / span 3;
    grid-row: 4;
    align-self: end;
    color: #fff;
    box-shadow: 0 10px 14px rgba(var(--app-clickable--secondary), 0.4);
  }
  &--restaurant {
    font-weight: bolder;
  }
}

