<app-template-full-width title="{{restaurant.nom}}">
  <div class="restaurant-block">
    <img src="https://picsum.photos/id/{{restaurant.id}}/200/300" />
    <div class="restaurant-detail">
      <h2>
        {{ restaurant.nom }}
      </h2>
      <p>🪙 {{ restaurant.prix.toLowerCase().replace('_',' ') }}</p>
      <p>🚩 {{ restaurant.adresse }}</p>
      <p>🍜 {{ typeRestaurant.nom }}</p>
    </div>
    <app-form-reservation [init]="init" (submitted)="action($event)"></app-form-reservation>
  </div>
</app-template-full-width>
