<footer id="footer">
  <div class="compagny-block">
    <a href="#">M2<span>EAT</span></a>
    <p>Le meilleur des restaurants pour vous</p>
    <app-icon-instagram></app-icon-instagram>
    <app-icon-facebook></app-icon-facebook>
    <app-icon-twitter></app-icon-twitter>
  </div>
  <div>
    <h2>Navigation</h2>
    <ul>
      <li><a routerLink="/restaurants">Nos restaurants</a></li>
      <li><a routerLink="/type-restaurants">Types restaurants</a></li>
      <li><a routerLink="/reservations">Réservations</a></li>
      <li><a routerLink="#">Mon compte</a></li>
    </ul>
  </div>
  <div>
    <h2>Contact</h2>
    <ul>
      <li>M2Eat</li>
      <li>4 Av. de l'Horizon,</li>
      <li>44100 Nantes</li>
      <li>01 47 20 00 01</li>
    </ul>
  </div>
</footer>
