<form action="">
  <div class="form-group">
    <label for="name">nom</label>
    <input
      type="text"
      class="form-control"
      id="nom"
      placeholder="Entrez votre nom"
    />
  </div>
  <div class="form-group">
    <label for="prenom">prenom address</label>
    <input
      type="email"
      class="form-control"
      id="prenom"
      placeholder="Entrez votre email"
    />
  </div>
  <div class="form-group">
    <label for="phone">telephone</label>
    <input
      type="phone"
      class="form-control"
      id="phone"
      placeholder="Entrez votre téléphone"
    />
  </div>
  <div class="form-group">
    <label for="date">dateHeureDebut</label>
    <input
      type="date"
      class="form-control"
      id="date"
      placeholder="Entrez une date"
    />
  </div>

  <input type="hidden" id="time" />
  <input type="hidden" id="time" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
