
<form #myForm [formGroup]="form" (ngSubmit)="onSubmit()">
  <p class="subtitle">Réservez maintenant !</p>
  <div class="form-group">
    <label for="name">nom</label>
    <input
      type="text"
      class="form-control"
      id="nom"
      placeholder="Entrez votre nom"
      formControlName="nom"
    />
  </div>
  <div class="form-group">
    <label for="prenom">prenom </label>
    <input
      type="text"
      class="form-control"
      id="prenom"
      placeholder="Entrez votre prenom"
      formControlName="prenom"
    />
  </div>
  <div class="form-group">
    <label for="phone">téléphone</label>
    <input
      type="phone"
      class="form-control"
      id="phone"
      placeholder="Entrez votre téléphone"
      formControlName="telephone"
    />
  </div>
  <div class="form-group">
    <label for="date">date de la reservation </label>
    <input
      type="datetime-local"
      class="form-control"
      id="date"
      placeholder="Entrez une date"
      formControlName="dateHeureDebut"
    />
  </div>

  <input type="hidden" formControlName="restaurantId" [(ngModel)]="init.restaurantId"/>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Envoyer</button>
</form>

<div #success class="hide flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Yay!</strong> 🎉 Merci pour votre réservation !</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>
<a #btn routerLink="/reservations" class="btn-reservations">Voir mes réservations</a>

