<app-template-full-width title="Administration du site">

    <div class="admin-block">
      <div>
        <img src="/assets/images/coming-soon.jpg" />
        <div class="admin-detail">
          <a routerLink="/restaurants/add">
            Ajouter un restaurant
          </a>
        </div>
      </div>
      <div>
        <img src="/assets/images/type-restaurant.png" width="434px"/>
        <div class="admin-detail">
          <a routerLink="/type-restaurants/add">
            Ajouter un type de restaurant
          </a>
        </div>
    </div>
  </div>

</app-template-full-width>

